.flash {
  text-align: left;
  &__alert{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
  &__notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
  }
}